# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# Output Files
outputs/
*.pdf
*.docx
*.sql

# VS Code
.vscode/